In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [5]:
df=pd.read_csv('insurance-data.csv')

In [10]:
df.isna().sum().sum()

0

There is no null values in the dataset

In [11]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [12]:
df.smoker.value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In Hypotesis test:
1) State the null and alternative hypothesis(H0,H1)
In our dataset we want to know if the smokers spend more charges than the nonsmokers or not therefore
H0: Charges of smokers = Charges of nonsmokers
H1: Charges of smokers != Charges of nonsmokers
2) Collect data in a way designed to test the hypothesis
Will take the charges of smokers and the charges of nonsmoker in array.
3) Perform a statistical test
get t-value and p-value
For each test, the t-value is a way to quantify the difference between the population means.
If the p-value is less than a certain value (0.05) then we reject the null hypothesis of the test.
4) Decide whether to reject or fail to reject your null hypothesis

In [21]:
x=np.array(df[df.smoker=='yes'].charges)
y=np.array(df[df.smoker=='no'].charges)
tstat,pvalue=stats.ttest_ind(x,y)
print(tstat)
print(pvalue)
if pvalue < 0.05:
   print('Reject H0 and accept H1 therfore smokers and nonsmokers charges are not the same')
else:
   print('fail to reject H0 therfore smokers and nonsmokers charges are the same')

46.66492117272371
8.271435842179102e-283
Reject H0 and accept H1 therfore smokers and nonsmokers charges are not the same

Since the t-value is positive: mean of the charges of smokers > mean of the charges of nonsmokers.
Smokers spend more charges than nonsmokers.

In [22]:
x=np.array(df[df.smoker=='yes'].charges)
y=np.array(df[df.smoker=='no'].charges)
tstat,pvalue=stats.ttest_ind(y,x)
print(tstat)
print(pvalue)
if pvalue < 0.05:
   print('Reject H0 and accept H1 therfore smokers and nonsmokers charges are not the same')
else:
   print('fail to reject H0 therfore smokers and nonsmokers charges are the same')

-46.66492117272371
8.271435842179102e-283
Reject H0 and accept H1 therfore smokers and nonsmokers charges are not the same